name: Cypress Tests

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '03 5,15 * * *'


jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
  #  - name: Setup npm package
      #run: npm init -y 
    - name: Checkout
      uses: actions/checkout@v2
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
    - name: Cypress run
      uses: cypress-io/github-action@v4.2.0 # use the explicit version number
      with:
       # build: npm run build
        start: npx cypress run
